/* Global styling class */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: verdana, sans-serif;
    color: #666;
}

/* Heading tags class*/
h1 {
    padding: 17px 35px 0 35px;
    font-size: 340%;
}

h2 {
    margin: -17px 0 0 0;
    color: #f07c17;
    font-weight: bolder;
    font-size: 24px;
}

/* HTML Section tag class */
div {
    margin: 5px 0 10px 0;
}

/* list Items tags class*/
.li1 {
    padding-top: 35px;
    font-size: 16px;
}

.li2,
.li3 {
    padding-top: 10px;
    font-size: 16px;
}

/* Paragraph tags */
.p1 {
    padding-top: 20px;
    line-height: 32px;
    font-size: 16px;

}

.p2,
.p3 {
    padding-top: 0;
    line-height: 32px;
    font-size: 16px;

}

/* Special feature tags */
.features {
    margin-top: 20px;
    padding: 40px 10px 15px 30px;
    border: 1px solid #ccc;
}
